* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
}


.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.union {
    margin-bottom: 50rem;
}


.hd1 {
    font-size: 32px;
}

.box {
    top: 130px;
    right: 40px;
    left: 40px;
    /* margin-right: 10rem; */
    background: rgba(98, 0, 238, 0.05);
    box-shadow: 4px 4px 10px rgba(98, 0, 238, 0.1);
    backdrop-filter: blur(43px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 16px;
    width: (2400-40)px;
    position: absolute  ;
    height: 900px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hd2 {
    /* text-align: center; */
    font-size: 24px;
    height: 100px;
    width: 1500px;
}


.design {
    font-size: 88px;
    color: #6200ee;
    display: flex;
    justify-content: center;
    align-items: center;
}