* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
}


.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.union {
    margin-top: -50rem;
}


.hd1 {
    font-size: 42px;
    margin-bottom: 10rem;
}

.box {
    top: 50px;
    right: 30px;
    left: 40px;
    /* margin-right: 10rem; */
    background: rgba(98, 0, 238, 0.05);
    box-shadow: 4px 4px 10px rgba(98, 0, 238, 0.1);
    backdrop-filter: blur(33px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 16px;
    width: (2400-40)px;
    position: absolute  ;
    height: 900px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hd2 {
    /* text-align: center; */
    font-size: 34px;
    height: 200px;
    width: 1500px;
    margin-top: 10rem;
}
.pqr{
    margin-top: 12rem;
}


.design {
    font-size: 100px;
    color: #6200ee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -11rem;
}
.circle{
    margin-top: -1rem;
    margin-right: 2rem;
}
.hole{
    margin-top: -1rem;
    margin-left: 2rem;
}
.stripes{
    margin-top: 1rem;
}
